@charset "utf-8";
/* CSS Document */

h1 {color:chartreuse; background-color : black; font-weight: bold; text-align: center;}
h2 {color:darkgreen;}
h3 {color:yellow;}
dt {font-size: 30pt; line-height: 30pt;}
dl {line-height: 20pt;}